body {
  font-family: 'Lexend Deca', sans-serif;
}
canvas {
    display:block;
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: -1;
}
#mainContainer {
  position: absolute;
  color: aliceblue;
  z-index: 2;padding:
  0px;margin: 0px;
}

/*------------------------------------------------------------------------------*/
/*-----------------------------------INPUTS-------------------------------------*/
/*------------------------------------------------------------------------------*/

.tableInputData{
    white-space: nowrap;
    /*border: 1px solid gray;*/
    overflow-x: hidden;
    /*color:aliceblue;*/
  }
  .labels{
    font-size: smaller;
    /*color:aliceblue;*/
  }

  .txtnum{
    background-color: rgb(255, 255, 255);
    font-size: smaller;
    text-align: right;
    width: 3rem;
  }

  #mapid { 
    height: 25rem;
  }

  #infoTextBox{
    font-family: monospace;
    font-size: small;
    font-weight: bold;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .textinfoTextBox {
    margin: 0px;
    padding: 0px;
  }

  
 

#popupWrapper {

    background: rgba(0, 0, 0, 0.5);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 4vh;

}


.popup {
    display: none;
    width: 80%;
    background: white;
    margin: 0 auto;
    position: relative;
}

.popup div{
  max-height: 78vh;
}

.popupInfoContent {
  color: black;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow-y: scroll;
}

.popupFooter{
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#tabsInfo {
  color: rgb(52, 53, 79);  
}

#tabsInfo ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

#tabsInfo li { 
  list-style-type: none;
  display: inline;
  text-align: center;
  justify-content: baseline;
  border-bottom-style: solid;
  border-bottom-color: none;
  padding-right: 2rem;
  cursor: pointer;
}


#infoTrackTextBox {
  display: none;
}

